#selector {
    display: flex;
    justify-content: space-between;
}

.centerColumn {
    display: flex;
    justify-content: center;
}

.mesa4 {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 10px;
}

.mesa2 {
    width: 100px;
    height: 200px;
    background-color: gray;
    margin: 10px;
}

.mesa6 {
    width: 300px;
    height: 200px;
    background-color: gray;
    margin: 10px;
}