#selector {
    display: flex;
    justify-content: space-between;
}

.centerColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesa4 {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mesa2 {
    width: 100px;
    height: 200px;
    background-color: gray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mesa6 {
    width: 400px;
    height: 200px;
    background-color: gray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}