/* Butonns.css */

.container {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ion-button {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  
  .ion-padding {
    width: 100%;
    height: 100%;
  }
  
  /* Ajusta el tamaño del contenido dentro de IonPopover */
  .ion-popover-content {
    width: 1000px; /* Ajusta el ancho del contenido de la ventana emergente */
    height: 80%; /* Ajusta la altura del contenido de la ventana emergente */
  }
  